<div class="auth-wrapper">
  <div class="auth-content text-center">
    <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4">
    <div class="card borderless">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-3 f-w-400">Inscreva-se</h4>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Usuário">
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="E-mail">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" placeholder="Senha">
            </div>
            <div class="form-group text-left mt-2">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
                <label for="checkbox-fill-2" class="cr">Enviar <a href="javascript:"> Notificações</a></label>
              </div>
            </div>
            <button class="btn btn-primary btn-block mb-4">Inscreva-se</button>
            <p class="mb-2">Já tem conta? <a [routerLink]="['/dashboard/default']" class="f-w-400">Entrar</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
