<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h5>Jardel SN</h5>
      <h6><i class="feather icon-star-on f-18 text-c-yellow"></i> Nota 10</h6>
    </div>
    <div class="card-body">


      <div class="row">
        <div class="col-md-6" id="evento" role="tabpanel" aria-labelledby="evento-tab">

          <div *ngFor="let evento of eventos">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{evento.categoria.nome}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{evento.fornecedores.nome_fantasia}}</h6>
                <p class="card-text">{{evento.dataInicio}} ate {{evento.dataFim}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 view-client-container">
          <h2 class="text-center">Dados cadastrais</h2>
          <form [formGroup]="verClienteForm">


            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" formControlName="nome" placeholder="nome" name="nome" class="form-control" id="nome"
                disabled>
            </div>

            <div class="form-group">
              <label for="sobrenome">Sobrenome:</label>
              <input type="text" formControlName="sobrenome" placeholder="sobrenome" name="sobrenome"
                class="form-control" id="sobrenome" disabled>
            </div>

            <div class="form-group">
              <label for="cpf">CPF:</label>
              <input type="text" formControlName="cpf" placeholder="cpf" name="cpf" class="form-control" id="cpf"
                disabled>
            </div>

            <div class="form-group">
              <label for="sexo">Sexo:</label>
              <input type="text" formControlName="sexo" placeholder="sexo" name="sexo" class="form-control" id="sexo"
                disabled>
            </div>

            <div class="form-group">
              <label for="dataNascimento">Data de nascimento:</label>
              <input type="date" formControlName="dataNascimento" placeholder="Data de nascimento" name="dataNascimento"
                class="form-control" id="dataNascimento" disabled>
            </div>

            <div class="form-group">
              <label for="nomePais">País:</label>
              <input type="text" formControlName="nomePais" placeholder="Nome do país" name="nomePais"
                class="form-control" id="nomePais" disabled>
            </div>

            <div class="form-group">
              <label for="siglaPais">País sigla:</label>
              <input type="text" formControlName="siglaPais" placeholder="Sigla do país" name="siglaPais"
                class="form-control" id="siglaPais" disabled>
            </div>

            <div class="form-group">
              <label for="nomeEstado">Estado:</label>
              <input type="text" formControlName="nomeEstado" placeholder="Nome do estado" name="nomeEstado"
                class="form-control" id="nomeEstado" disabled>
            </div>

            <div class="form-group">
              <label for="siglaEstado">Estado sigla:</label>
              <input type="text" formControlName="siglaEstado" placeholder="Sigla do estado" name="siglaEstado"
                class="form-control" id="siglaEstado" disabled>
            </div>

            <div class="form-group">
              <label for="nomeMunicipio">CEP:</label>
              <input type="text" formControlName="nomeMunicipio" placeholder="Nome do município" name="nomeMunicipio"
                class="form-control" id="nomeMunicipio" disabled>
            </div>

            <div class="form-group">
              <label for="enderecoLogradouro">Logradouro:</label>
              <input type="text" formControlName="enderecoLogradouro" placeholder="Logradouro" name="enderecoLogradouro"
                class="form-control" id="enderecoLogradouro" disabled>
            </div>

            <div class="form-group">
              <label for="enderecoBairro">Bairro:</label>
              <input type="text" formControlName="enderecoBairro" placeholder="Bairro" name="enderecoBairro"
                class="form-control" id="enderecoBairro" disabled>
            </div>

            <div class="form-group">
              <label for="enderecoNumero">Número:</label>
              <input type="number" formControlName="enderecoNumero" placeholder="Número do endereço"
                name="enderecoNumero" class="form-control" id="enderecoNumero" disabled>
            </div>

            <div class="form-group">
              <label for="enderecoLogradouro">Logradouro:</label>
              <input type="text" formControlName="enderecoLogradouro" placeholder="Logradouro do endereço"
                name="enderecoLogradouro" class="form-control" id="enderecoLogradouro" disabled>
            </div>

            <div class="form-group">
              <label for="enderecoCep">CEP:</label>
              <input type="text" formControlName="enderecoCep" placeholder="CEP" name="enderecoCep" class="form-control"
                id="enderecoCep" disabled>
            </div>

            <div class="form-group">
              <label for="enderecoComplemento">Complemento:</label>
              <input type="text" formControlName="enderecoComplemento" placeholder="Complemento"
                name="enderecoComplemento" class="form-control" id="enderecoComplemento" disabled>
            </div>

          </form>




        </div>
      </div>
    </div>
  </div>
</div>