<div class="row">
    <div class="col-sm-12">
      <div class="col-md-12">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nome</label>
              <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="nome" name="nome">
            </div>
            <div class="form-group col-md-6">
              <label>Sobrenome</label>
              <input type="text" class="form-control" placeholder="Sobrenome" [(ngModel)]="sobrenome" name="sobrenome">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>CPF</label>
              <input required type="text" class="form-control" placeholder="000.000.000-00" required [(ngModel)]="cpf" name="cpf">
            </div>
            <div class="form-group col-md-4">
                <label>Sexo</label>
                <select style="height: 45px;" class="form-control" [(ngModel)]="sexo" name="sexo">
                  <option *ngFor="let sexo of sexos">{{ sexo }}</option>
              </select>  
            </div>
            <div class="form-group col-md-4">
              <label>Data Nascimento</label>
              <input type="date" class="form-control" placeholder="dia/mês/ano" [(ngModel)]="dataNascimento" name="dataNascimento">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Logradouro</label>
              <input type="text" class="form-control" placeholder="Logradouro" [(ngModel)]="enderecoLogradouro" name="enderecoLogradouro">
            </div>
            <div class="form-group col-md-1">
              <label>Número</label>
              <input type="number" class="form-control" placeholder="Nº" [(ngModel)]="enderecoNumero" name="enderecoNumero">
            </div>
            <div class="form-group col-md-2">
              <label>Bairro</label>
              <input type="text" class="form-control" placeholder="Bairro" [(ngModel)]="enderecoBairro" name="enderecoBairro">
            </div>
            <div class="form-group col-md-2">
              <label>Cidade</label>
              <input type="text" placeholder="Cidade"  class="form-control" [(ngModel)]="nomeMunicipio" name="nomeMunicipio">
            </div>
            <div class="form-group col-md-3">
              <label>Complemento</label>
              <input type="text" class="form-control" placeholder="Complemento" [(ngModel)]="enderecoComplemento" name="enderecoComplemento">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>CEP</label>
              <input type="text" placeholder="00.000-000" class="form-control" [(ngModel)]="enderecoCep" name="enderecoCep">
            </div>
            <div class="form-group col-md-3">
              <label>Estado</label>
              <input type="text" class="form-control" placeholder="" [(ngModel)]="nomeEstado" name="nomeEstado">
            </div>
            <div class="form-group col-md-1">
              <label>UF</label>
              <input type="text" class="form-control" placeholder="SC" [(ngModel)]="siglaEstado" name="siglaEstado">
            </div>
            <div class="form-group col-md-3">
              <label>País</label>
              <input type="text" placeholder="Nome país" class="form-control" [(ngModel)]="nomePais" name="nomePais">
            </div>
            <div class="form-group col-md-1">
              <label>UF</label>
              <input type="text" placeholder="BR" class="form-control" [(ngModel)]="siglaPais" name="siglaPais">
            </div>
          </div>
  
          <button style="margin: 10px;" class="btn btn-primary" (click)="save()">Salvar</button>
          <button class="btn btn-danger" (click)="voltar()">Voltar</button>
      </div>
    </div>
  </div>  
  