<label> Nome
    <input type="text" placeholder="Nome" [(ngModel)]="nome" name="nome">
</label>

<label> Sobrenome
    <input type="text" placeholder="Sobrenome" [(ngModel)]="sobrenome" name="sobrenome">
</label>

<label> CPF:
    <input type="text" placeholder="CPF" required [(ngModel)]="cpf">
</label>

<label>Sexo: 
    <select [(ngModel)]="sexo">
        <option *ngFor="let sexo of sexos">{{ sexo }}</option>
    </select>    
</label>

<!--
<div class="error-block" *ngIf="submitted && handleError('sexo', 'required')">
    <p style="color: red;">Informar o sexo é obrigatório.</p>
</div>
-->

<label> Data Nascimento
    <input type="date" placeholder="Data Nascimento" [(ngModel)]="dataNascimento" name="dataNascimento">
</label>

<label> País
    <input type="text" placeholder="Nome país" [(ngModel)]="nomePais">
    <input type="text" placeholder="Sigla país" [(ngModel)]="siglaPais">
</label>

<label> Estado
    <input type="text" placeholder="Nome estado" [(ngModel)]="nomeEstado">
    <input type="text" placeholder="Sigla estado" [(ngModel)]="siglaEstado">
</label>

<label> Município
    <input type="text" placeholder="Nome município" [(ngModel)]="nomeMunicipio">
</label>

<label> Bairro
    <input type="text" placeholder="Nome do bairro" [(ngModel)]="enderecoBairro">
</label>

<label> Número
    <input type="number" placeholder="Número da moradia" [(ngModel)]="enderecoNumero">
</label>

<label> Logradouro
    <input type="text" placeholder="Logradouro" [(ngModel)]="enderecoLogradouro">
</label>

<label> CEP
    <input type="text" placeholder="CEP" [(ngModel)]="enderecoCep">
</label>

<label> Complemento
    <input type="text" placeholder="Complemento" [(ngModel)]="enderecoComplemento">
</label>

<div>
    <button (click)="save()">Salvar</button>
    <button (click)="voltar()">Voltar</button>
</div>