<table class="center highlight responsive-table">
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>CPF</th>
      <th>Sexo</th>
      <th>Data nascimento</th>
      <th>Média avaliação</th>
    </tr>
    <tr *ngFor="let cliente of clientes">
      <td>{{cliente.nome}}</td>
      <td>{{cliente.sobrenome}}</td>
      <td>{{cliente.cpf}}</td>
      <td>{{cliente.sexo}}</td>
      <td>{{cliente.dataNascimento}}</td>
      <td>{{cliente.mediaAvaliacao}}</td>
      <td>
        <button (click)="ver(cliente)"> Ver</button>
        <button (click)="editar(cliente)"> Editar </button>
        <button (click)="deletar(cliente)"> Deletar </button>
      </td>
    </tr>
  </table>

  <button (click)="voltar()">Voltar</button>