<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Visualizar os clientes" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>CPF</th>
              <th>Sexo</th>
              <th>Data nascimento</th>
              <th>Média avaliação</th>
              <th>Alterações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>{{cliente.nome}}</td>
              <td>{{cliente.sobrenome}}</td>
              <td>{{cliente.cpf}}</td>
              <td>{{cliente.sexo}}</td>
              <td>{{cliente.dataNascimento}}</td>
              <td>{{cliente.mediaAvaliacao}}</td>
              <td>
                <div>
                <button style="margin: 10px;" class="btn btn-primary" (click)="editar(cliente)"> Editar </button>
                <button class="btn btn-danger" (click)="deletar(cliente)"> Deletar </button>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-secondary" (click)="voltar()">Voltar</button>
      </div>
    </app-card>
  </div>
</div>