<div>
    <div class="row" style="margin: 20px; margin-left: 30px;">
        <button (click)="voltar()"class="btn btn-danger">Cancelar</button>
    </div>
    <div class="row">
        <div *ngFor="let categoria of categorias">
            <div class="col-md-2 offset-md-1">
                <a (click)="gerarLink(categoria.id)" >
                    <div class="card text-white bg-dark " style="width: 300px; height:200px ;">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <h5 class="card-text text-white">
                                {{categoria.nome}}</h5>
                            <p class="card-text text-white">{{categoria.descricao}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>